@use 'src/styles/variables';

.notfound {
  max-width: variables.$inner-max-width-lg;
  padding: 5rem 20px;
  margin: 0 auto;
  text-align: center;

  h2 {
    font-size: 3.75rem;
  }

  figure {
    max-width: 800px;
    font-size: 0;
    margin: 20px auto 0;
  }
}
