@use 'src/styles/mixins';

.technologyItem {
  flex: 1 1 12.5%;
}

.simple {
  text-align: center;

  figure {
    font-size: 0;
    padding: 1.04vw;
    // background-color: red;
    filter: grayscale(0);

    img {
      width: auto;
      max-width: 100%;
      // opacity: 0;
    }
  }

  .txtBox {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100vw;
    padding: 0 20px;
    text-align: center;
    margin-top: 6.25rem;
    transform: translateX(-50%);
    background-color: #fff;

    p {
      font-size: 3.125rem;
      font-weight: 500;
    }

    .detail {
      font-size: 20px;
      margin-top: 1.875rem;
    }
  }
}

@include mixins.md-max {
  .technologyItem {
    flex: 1 1 25%;
  }

  .txtBox {
    top: 200%;
  }
}
